<% layout("/layouts/boilerplate.ejs") %>

    <main>
        <h3>All listings</h3> 
        </br>

        <div class="allListings">
            <div class="cardBox">
                <% for (let listing of allListings) { %>
                        <a href="/listings/<%= listing._id %>">
                            <div class="col listingCard">
                                <div class="card">
                                    <img src="<%= listing.image%>" class="card-img-top listingImage" alt="listingImage">
                                    <div class="card-img-overlay">
                                        <%= listing.description %>
                                    </div>
                                    <div class="listingCardBody">
                                        <h5 class="card-title"> <%= listing.title %> </h5>
                                        <p class="listingPrice cardDetails"> <%= listing.price.toLocaleString("en-IN", {style: "currency", currency: "INR", maximumFractionDigits: 0}) %> / night </p>
                                        <span class="listingLocation cardDetails"> <%= listing.location %>, </span>
                                        <span class="listingCountry cardDetails"> <%= listing.country %> </span>
                                    </div>
                                </div> %>
                            </div>
                        </a>
                <% } %>
            </div>
        </div>
    </main>
