<% layout("/layouts/boilerplate.ejs") %>

<main>

    <button onclick="history.back()" class="mb-4 btn btn-dark mainBtn"><- Back</button>

    <div class="row">
        <div class="card listingDetailsCard col-7 offset-2">
            <h3 class="cardTitle mb-4"><%= listing.title %></h3>
            <img src="<%= listing.image %>" class="card-img-top listingDetailsImg" alt="listing_image">
            <div class="card-body detailsCardBody">
                <p class="card-description"><%= listing.description %></p>
                <p class="card-price fw-bold"><%= listing.price.toLocaleString("en-IN", {style: "currency", currency: "INR", maximumFractionDigits: 0}) %>/Night</p>
                
                <div class="listingLocation">
                    <span class="card-location"><%= listing.location %>, </span>
                    <span class="card-country"><%= listing.country %></span>
                </div>

                <div class="listingDetailsBtns mt-4 mb-3">
                    <a href="/listings/<%= listing._id %>/edit" class="btn btn-primary">Edit Listing</a>
                    <form method="post" action="/listings/<%= listing._id %>?_method=DELETE">
                        <button class="btn mainBtn">Delete Listing</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
